In [34]:
import pandas as pd
import numpy as np 
import io
import re
df = pd.DataFrame({'id': ['tag1', 'tag1', 'tag1', 'tag2', 'tag2','tag2', 'tag2'], 'some_value': ['v1','NaN','v1','v2','v2','v3', ' ']})
df

     id some_value
0  tag1         v1
1  tag1        NaN
2  tag1         v1
3  tag2         v2
4  tag2         v2
5  tag2         v3
6  tag2

In [44]:
print(df.iloc[:-1])
print(df.shift(-1).iloc[:-1])
def numChanges(x):
    return sum(x.iloc[:-1] != x.shift(-1).iloc[:-1])
rtoz_df = pd.DataFrame() # new data frame to store r to z transformed values
rtoz_df = df.apply(numChanges)
rtoz_df

     id some_value
0  tag1         v1
1  tag1        NaN
2  tag1         v1
3  tag2         v2
4  tag2         v2
5  tag2         v3
     id some_value
0  tag1        NaN
1  tag1         v1
2  tag2         v2
3  tag2         v2
4  tag2         v3
5  tag2

id            1
some_value    5
dtype: int64

In [41]:
import pandas as pd
import numpy as np 
import io
import re

with open('/Volumes/Samsung_T5/Data/A_gen.txt') as F:
    Lines = F.readlines()[9:] # read all lines in file 

names = ['HLAname', 'allele_1', 'allele_2', 'allele_3', 'allele_4', 'allele_5', 'allele_6', 'allele_7', 'allele_8', 'allele_9', 'allele_10']

dfs = [""]
for line in Lines:
    if line.strip():
        dfs[-1] += line #~ Add non-empty lines to the latest string
    elif dfs[-1]: 
        dfs.append("") #~ If the latest string has data and you've hit a blank line, start a new string
    else: 
        continue #~ If you've just added a new blank string and you're still on blank lines, carry on

dfs = [pd.read_table(io.StringIO(df),names=names, index_col='HLAname',sep='\s+',na_values=['**********']) for df in dfs]

# remove the last elements 
dfs.pop(40) # removes a blank space at the end of the file
dfs.pop(39) # removes the terms of use at the end of the file 
dfs.pop(38)

for index, df_el in enumerate(dfs):
    #print(index)
    dfs[index]= df_el.dropna()

FileNotFoundError: [Errno 2] No such file or directory: '/Volumes/Samsung_T5/Data/A_gen.txt'

In [42]:
dfs

NameError: name 'dfs' is not defined

In [ ]:
df1=